html, body {
  height: 100%;
  margin: 0;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.box {
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
}

.one { background: lightblue; }
.two { background: lightcoral; }

@media (max-width: 600px) {
  tr, td {
    display: block;
    width: 100%;
  }
  td {
    height: 50vh;
  }
}
